[submodule "subprojects/stivale"]
	path = subprojects/stivale
	url = https://github.com/stivale/stivale.git
[submodule "subprojects/limine"]
	path = subprojects/limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v3.0-branch-binary
